<div class="form-group">
     <label for="title">Title</label>
     <input required value="<%= article.title%>" type="text" name="title" id="title" class="form-control" placeholder="Enter Title">
</div>
<div class="form-group">
    <label for="author">Author</label>
    <input required value="<%= article.author%>" type="text" name="author" id="author" class="form-control" placeholder="Enter Author">
</div>
<div class="form-group">
    <label for="markdown">Mark Down</label>
    <textarea required name="markdown" id="markdown" cols="30" rows="10" class="form-control"><%= article.markdown%></textarea>
</div>
<div class="form-group">
    <label for="imageUrl">Image</label>
    <input required value="<%= article.imageUrl1%>" type="text" name="imageUrl" id="imageUrl1" class="form-control" placeholder="Enter Image Url">
</div>
<div class="form-group">
    <label for="imageUrl">Image</label>
    <input required value="<%= article.imageUrl2%>" type="text" name="imageUrl" id="imageUrl2" class="form-control" placeholder="Enter Image Url">
</div>
<div class="form-group">
    <label for="createdAt">Created At</label>
    <input required value="<%= article.createdAt.toLocaleDateString()%>" type="text" name="createdAt" id="createdAt" class="form-control" placeholder="Enter Date e.g 10/04/98">
</div>

<button type="submit" class="btn btn-primary"> Post </button>
<a href="/" class="btn btn-dark"> Cancel </a>