<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sparks visual Arts</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
    <script async src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</head>
<body>
    <header class="container-fluid navbar navbar-expand-lg navbar-dark bg-dark">
        <nav class="container ">
        <a class="navbar-brand" href="/">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                    width="48" height="48"
                    viewBox="0 0 171 171"
                    style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,171.99219v-171.99219h171.99219v171.99219z" fill="none"></path><g fill="#b59e34"><path d="M73.37219,26.71875l65.56531,117.5625l10.65619,-24.1095c2.47416,-4.94831 2.22275,-10.82218 -0.65753,-15.54071l-41.54975,-70.24109c-2.91234,-4.76128 -8.0987,-7.6712 -13.68292,-7.6712zM61.51575,38.35602l-31.42584,57.83148h63.67621zM21.375,112.21875l11.60596,23.20148c2.71462,5.42925 8.25952,8.86102 14.33002,8.86102h73.27826l-17.8786,-32.0625z"></path></g></g>
                </svg>
            </span>
            <span>SVA</span> 
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
          <ul class="navbar-nav ">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Creatives</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">About Us</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Contact Us</a>
            </li>
          </ul>
        </div>
        </nav>
    </header>
    <main class="container">
        <h1 class="my-4">The Home Of visual Arts </h1>
        <section>
            <a href="/articles/newArticle" class="mb-4">
                <img src="https://img.icons8.com/ios-glyphs/30/000000/add.png"/>
                New Post
            </a>
        </section>
        <section>
            <% articles.forEach((article) => {%>
                <div class="card my-5">
                    <div class="card-body">
                        <h3 class="card-title my-4">
                            <%= article.title%>
                        </h3>
                        <h5 class="card-subtitle text-muted my-3">
                            <%= article.author%>
                        </h5>
                        <div class="card-text my-3">
                            <%= article.content%>
                        </div>
                        <div class="row my-3">
                            <div class="img img-fluid card-text col-lg-6 col-sm-12"><img src="<%- article.imageUrl1%>" alt="" srcset=""></div>
                            <div class="img img-fluid card-text col-lg-5 col-sm-12"><img src="<%- article.imageUrl2%>" alt="" srcset=""></div>
                        </div>
                        <small class="card-text"><%= article.createdAt.toLocaleDateString()%></small>

                        <div class="my">
                            <a href="articles/<%=article.id %>" class="btn btn-primary"> Read More</a>
                        </div>
                    </div>
                </div>
            <% }) %>
        </section>
    </main>
    <footer class="container-fluid bg-dark">
        <div class="container">
            footer
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>